{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h2 class="text-center">Product index</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.title }}</a></td>
                <td>{{ product.title }}</td>
                <td>{{ product.category.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.weight }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
